# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

#upload files
upload/

#testing
/test-results/
/playwright-report/
/playwright/.cache/